body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

#app {
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#tasks {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#add-task {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}

button:hover {
    background-color: #2980b9;
}